/*
 * KeepItSimple.css
 * Custom Theme CSS
 * v0.1
 */

article {
  font-family: 'Roboto', sans-serif;
}

body a {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

body a:hover {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #555;
}

body h1 {
  font-family: 'Roboto', sans-serif;
}

body h3 {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0 0 0;
}

.divide {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

.site-image {
  border-radius: 50%;
  height: 175px;
  width: 175px;
}

.post-meta-over {
  font-family: 'Roboto', sans-serif;
  padding: 30px 0 0 0;
  margin: 0px;
  line-height: 0px;
  font-size: smaller;
}

.post-meta-under {
  font-family: 'Roboto', sans-serif;
  padding: 0 0 20px 0;
  margin: 0px;
  line-height: 0px;
  font-size: smaller;
}
.copyright {
  padding: 20px 0 0 0;
}
.jekyll-theme {
  padding: 0;
}